<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="simple-form">Simple Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="declarative-form">Declarative Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="reactive-form">Reactive Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="form-builder">Form Using Form Builder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="login-signup-form">Login-Signup Form</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>