<form [formGroup]="userForm" (ngSubmit)="formSubmit()">
    <input type="text" formControlName="userName" placeholder="Enter Name Here">
    <div *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched else abc" style="color: red;">
        Please Enter Name
    </div>
    <div *ngIf=""></div>
    <ng-template #abc>
        <br>
    </ng-template>
    <input type="text" formControlName="age" placeholder="Enter Age Here">
    <div *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched else abc" style="color: red;">Please Enter
        Age</div>
    <ng-template #abc>
        <br>
    </ng-template>
    <input type="text" formControlName="email" placeholder="Enter Email Here">
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched else abc" style="color: red;">Please
        Enter Email
    </div>
    <ng-template #abc>
        <br>
    </ng-template>
    <input type="text" formControlName="spi" placeholder="Enter Spi Here">
    <div *ngIf="userForm.get('spi')?.invalid && userForm.get('spi')?.touched else abc" style="color: red;">Please Enter
        Spi</div>
    <ng-template #abc>
        <br>
    </ng-template>
    <input type="text" formControlName="contactNumber" placeholder="Enter Contact Number Here">
    <div *ngIf="userForm.get('contactNumber')?.invalid && userForm.get('contactNumber')?.touched else abc"
        style="color: red;">
        Please Enter Contact Number</div>
    <ng-template #abc>
        <br>
    </ng-template>
    <input type="submit" [disabled]="userForm.invalid" />
</form>