<!-- <div class="container">
    <div class="row border border-danger">
        <div *ngFor="let fac of faculty" class="col-3 mb-4">
            <div class="card">
                <img class="" src={{fac.Image}} alt="Faculty Image">
                <div class="card-body">
                    <h6 class="card-title">Name : {{fac.Name}}</h6>
                    <p class="card-text">Salary : {{fac.Salary}}</p>
                    <a href="#" class="btn btn-primary">more</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Count = {{count}}

<br>
<button (click)="updateCount(-1)">-</button>
<button (click)="updateCount(+1)">+</button>
<button (click)="setZero()">Set As Default</button> -->

{{count}}
<img src={{faculty[count].Image}} alt="faculty image">
<br>
<button (click)="imageChang()">Prev</button>
<button (click)="imageChange()">Next</button>