<div class="main">
    <div class="inp">
        <input type="text" >
    </div>
    <div class="allbut">
            <div class="but"><button>+/-</button></div>
            <div class="but"><button>CE</button></div>
            <div class="but"><button>C</button></div>
            <div class="but"><button>BackSpace</button></div>
            <div class="but"><button>7</button></div>
            <div class="but"><button>8</button></div>
            <div class="but"><button>9</button></div>
            <div class="but"><button>*</button></div>
            <div class="but"><button>4</button></div>
            <div class="but"><button>5</button></div>
            <div class="but"><button>6</button></div>
            <div class="but"><button>-</button></div>
            <div class="but"><button>1</button></div>
            <div class="but"><button>2</button></div>
            <div class="but"><button>3</button></div>
            <div class="but"><button>+</button></div>
            <div class="but"><button>.</button></div>
            <div class="but"><button>0</button></div>
            <div class="but"><button>/</button></div>
            <div class="but"><button>=</button></div>
        
    </div>
</div>