<div class="container">
  <div class="row">
    <div class="col border border-dark bg bg-primary m-2 text-center">
      Free CSS Layouts
    </div>
  </div>
  <div class="row">
    <div class="col-2 border border-dark bg bg-warning m-2 text-center">
      <a routerLink="/home" href="">Home</a><br>
      <a href="" routerLink="/about">About</a><br>
      <a href="" routerLink="/contact">Contact</a>
    </div>
    <div class="col-8 border border-dark bg bg-secondary m-2">
      <router-outlet/>
    </div>  
    <div class="col border border-dark bg bg-success m-2">
      <h5>
        More Stuff Here,
      </h5>
      <br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. At nulla molestias excepturi officiis amet voluptatem
      aliquam delectus.
    </div>
  </div>
  <div class="row">
    <div class="col border border-dark bg bg-danger m-2 text-center">Footer</div>
  </div>
</div>