<div class="container-fluid">
    <div class="row">
        <div class="col border border-dark" style="background-image: linear-gradient(to right, rgba(114,214,186,255), rgba(54,170,156,255));">
            <app-navbar />
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark">
            <app-home />
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark">
            <app-skill />
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark">
            <app-project />
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark">
            <app-about />
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark">
            <app-contact />
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark">
            <app-footer />
        </div>
    </div>
</div>