An About Us page is a section on a website that provides information about a company, organization, or individual. It’s
an opportunity to tell your brand’s story, share your vision or mission, introduce team members, and outline your
history and achievements. This is where you build trust and credibility with customers.

In Shopify’s customer trust research, we found shoppers navigate to an About Us page to learn more about the brand and
the people behind the products. According to one study, 59% of consumers surveyed said they would more likely purchase
from a brand they trust. That number jumps to 79% of younger Gen Z consumers. Your About Page should address those two
curiosities shoppers have to help them with decision making.